# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\kataJDBC\PP_1_1_3-4_JDBC_Hibernate-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
